In [1]:
with open('input.txt', 'r') as file:
    lines = [line.strip() for line in file.readlines()]

In [3]:
print(lines[0])

Game 1: 13 red, 18 green; 5 green, 3 red, 5 blue; 5 green, 9 red, 6 blue; 3 blue, 3 green

In [19]:
import pandas as pd
import re

In [83]:
file_path = "input.txt"

results_list = []
number_search_pattern = r'(\d+)\s*(green|red|blue)'

with open(file_path, 'r') as file:
    for line in file:
        game, results = line.strip().split(':')
        game_number = int(game.split(' ')[-1])
        results = results.split(';')
        for i in results: 
            color_number_matches = re.findall(number_search_pattern, i)
            res = {'game_number': game_number, 'green': 0, 'red': 0, 'blue': 0}
            for number_match in color_number_matches:
                number,color = number_match
                if number:
                    number = int(number)
                    res[color] = number

            results_list.append(res)

In [84]:
data = pd.DataFrame(results_list)

In [85]:
data.head()

   game_number  green  red  blue
0            1     18   13     0
1            1      5    3     5
2            1      5    9     6
3            1      3    0     3
4            2      2    5     3

In [86]:
data['valid_games'] = (data['green'] <= 13) & (data['red'] <= 12) & (data['blue'] <= 14)

In [87]:
data.head()

   game_number  green  red  blue  valid_games
0            1     18   13     0        False
1            1      5    3     5         True
2            1      5    9     6         True
3            1      3    0     3         True
4            2      2    5     3         True

the mean of each grouped gamenumber has to be == 1 such that the whole game passes the test

In [88]:
data_games_pass_percentage = data.groupby('game_number')['valid_games'].mean().reset_index()

this code below does word the same, but is maybe easier to understand compared to the mean value

In [89]:
data_2 = data.groupby('game_number')['valid_games'].all().reset_index()
data_2 = data_2[data_2['valid_games']]
data_2.sum()

game_number    2449
valid_games      48
dtype: int64

In [90]:
data_games_pass_percentage.query('valid_games == 1').sum()

game_number    2449.0
valid_games      48.0
dtype: float64

# Part 2

In [91]:
data_max_color_values = data.groupby(['game_number'])[['red', 'green', 'blue']].max()

In [92]:
data['power'] = data_max_color_values['green'] * data_max_color_values['red'] * data_max_color_values['blue']

In [93]:
data['power'].sum()

63981.0